// Override default height on date filter
.bookabike .classes-calendar {
	.calendar-list-container {
		height: auto;
	}
}

.bike-classes {
	li {
		background-color: #fff;
		border-top: 2px solid #efefef;
		position: relative;
        &:after {
            font-family: 'icomoon';
            content: '\e613';
            position: absolute;
            top: 50%;
            right: 3%;
            @include css-translate(0, -50%);
        }
		&:first-child {
			border-top: 0;
		}
		&.past {
			h2, p {
				color: #b7b7b7;
			}
		}
		a {
			padding: 20px;
			display: block;
			position: relative;
			@include clearfix;
			.availability {
				width: 80px;
				position: absolute;
				top: 50%;
				@include css-translate(0, -50%);
				p, span {
					display: block;
					width: 45px;
					font-size: 10px;
					font-weight: 700;
					text-align: center;
					text-transform: uppercase;
					margin: 0 auto;
				}
				span {
					width: 100%;
					position: relative;
					top: 14px;
				}
				p {
					background-color: #fff;
					border: 2px solid #7c878e;
					height: 45px;
					line-height: 45px;
					color: #7c878e;
					@include transform(rotate(45deg));
					&.full {
						background-color: #333f48;
						border: 2px solid #333f48;
						color: #fff;
						&:before {
							font-size: 10px;
							content: 'Full';
						}
						+ span {
							display: none;
						}
					}
					&.icon-lock {
						border: 2px solid #d0d3d3;
						color: #d0d3d3;
						+ span {
							display: none;
						}
					}
					&.icon-check {
						background-color: #7c878e;
						color: #fff;
						&:before {
							font-size: 24px;
							content: "\e60f";
						}
					}
					&:before {
						font-size: 18px;
						display: block;
						@include transform(rotate(-45deg));
					}
				}
				span {
					margin-top: 14px;
				}
			}
			.class-info {
				width: 65%;
				padding-left: 35%;

				&.lock-status{
					color:#ccc;
				}
				h2 {
					font-size: 14px;
					font-weight: 700;
					text-align: left;
					margin-bottom: 10px;
				}
				p {
					font-size: 11px;
					text-transform: uppercase;
					margin-bottom: 8px;
					span {
						font-family: 'Graphik Web';
					}
					&:before {
						margin-right: 10px;
						color: #cdcdce;
					}
				}
			}
		}
	}
}