.onboarding {
    text-align: center;

    form {
        overflow: visible;
    }

    h6 {
        margin: 0 2.5em 2em;
    }
    
    .module {
        padding-top: 0px;
    }

    .tpl-imagetextcallout {
        margin-top: 10px;
        .paragraph p {
            font-size: 12px;
        }
    }

    .tpl-joinschedule {
        border-top: 1px solid #4d4d4d;
        margin-top: 20px;
        padding-top: 40px;
    }
    
    .dtm-q-start-3-columns {
        margin-top: 0;
        padding-top: 0;
        h1 {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 45px;
            text-transform: none;
            letter-spacing: 2px;
        }
        .columns-layout .column .content {
            h2, p {
                font-size: 12px;
            }
        }
    }

    .rich-content {
        header {
            min-height: 0;

            h2 {
                margin: 1em auto 0;
                position: static;
                @include transform(none);
                small {
                    letter-spacing: 2px;
                }
            }
        }

        .paragraph a {
            color: #fff;
            font-size: 11px;
            letter-spacing: 1px;
            text-decoration: underline;
        }
    }

    form fieldset label {
        font-weight: normal;
        text-transform: none;
    }

    .question {
        margin: 60px 0 0;

        &:first-child {
            margin: 0;
        }
    }

    .select-wrapper {
        font-size: 20px;
        margin: 0 20px;
        max-width: initial;
    }

    .button {
        display: block;
        max-width: 263px;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0 auto;
    }

    .alternative-cta {
        font-size: 11px;
    }
    
    .range-selection {
        margin-bottom: 20px;
    }
    
    .tpl-multipleselect {
        h3 {
            font-weight: bold;
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
        
        .multiple-select {
            padding: 40px 0;
            li section label.check-selector h6 {
                display: inline-block;
                font-size: 12px;
                padding-right: 30px;
            }
        }
    }
}

.join-schedule-form {
    padding: 0;

    .checkbox.small {
        label {
            padding: 10px 20px 10px 35px;
        }
        .checkbox-replacement {
            position: absolute;
            margin: 0;
            top: 5px;
            left: 18px;

            &:before {
                top: -7px;
                left: -7px;
            }
        }
    }
}

.questionnaire {
    padding: 0;
    max-width: initial;

    fieldset {
        margin-bottom: 20px;
        width: 80%;
    }

    h3 {
        margin: 0 0 1.2em;
        font-size: 12px;
        font-weight: bold;
    }
    .radio {
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
        .label {
            font-weight: 400;
            font-size: 12px;
        }
    }
}

.multiple-select {
    padding: 0 5% 40px;
    
    li {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;

        section {
            padding: 0;

            label.check-selector {
                cursor: pointer;

                h6 {
                    margin: 0;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: left;
                    padding: 24px 0 24px 30px;
                    position: relative;

                    &:before {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        border: 1px solid #FFF;
                        border-radius: 100%;
                        top: 50%;
                        margin-top: -7px;
                    }


                }
                img, input[type=checkbox] {
                    display: none;
                }

                &.checked {
                    h6:after {
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        background-color: #FFF;
                        border-radius: 100%;
                        position: absolute;
                        top: 50%;
                        left: 5px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }

    .column.half {
        width: 100%;
    }
}