.qblog-logo {
    background-color: #fff;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 100;
    text-align: center;
    font-size: 68px;
    line-height: 1.3;
}

.carousel {
    min-height: 180px;
    .swipe-guide {
        display: none;
    }
}
.carousel-item {
    position: relative;
    .caption {
        position: absolute;
        top: 50%;
        padding: 0 20px;
        width: 100%;
        text-align: center;
        @include css-translate(0, -50%);
        @include box-sizing(border-box);
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            letter-spacing: 4.5px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 25px;
            font-weight: 200;
            color: #fff;
        }
    }
}

.qblog-content {
    background-color: #e6e6e6;
    padding: 22px;
    .article-container {
        article {
            margin-bottom: 20px;
            .article-content {
                background-color: #fff;
                padding: 15px 20px;
                .article-category, .article-date {
                    font-size: 10px;
                    font-weight: 700;
                    letter-spacing: .8px;
                }
                .article-category {
                    color: rgba(215, 40, 40, .75);
                    text-transform: uppercase;
                }
                .article-date {
                    color: rgba(128, 128, 128, .75);
                }
                h2 {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1.8px;
                }
                p {
                    font-size: 12px;
                    letter-spacing: .96px;
                    margin: 0;
                }
            }
        }
        .article-pager {
            font-size: 0;
            text-align: center;
            margin: 28px 0;
            li {
                font-size: initial;
                margin-left: 20px;
                display: inline-block;
                vertical-align: top;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    font-size: 11px;
                    font-weight: 700;
                    color: #999;
                    text-transform: uppercase;
                    &.active, strong {
                        color: #333;
                    }
                }
            }
        }
    }
    .main-article {
        background-color: #fff;
        text-align: left;
        margin-bottom: 23px;
        .main-article-text {
            padding: 18px;
            h3 {
                font-size: 20px;
                text-align: left;
                letter-spacing: .2px;
                margin: 0 0 4px;
            }
            small {
                font-size: 12px;
                font-weight: 700;
                line-height: 1.5;
                display: block;
            }
            .main-article-info {
                margin: 9px 0 35px;
                font-size: 11px;
                .author {
                    font-weight: 700;
                    color: #666;
                    text-transform: uppercase;
                }
            }
            p {
                font-size: 12px;
                line-height: 1.5;
                margin-bottom: 18px;
            }
            .tags {
                font-size: 11px;
                text-transform: uppercase;
                margin-top: 42px;
                a {
                    font-size: inherit;
                    color: #989898;
                }
                span {
                    color: #989898;
                }
            }
            .article-social {
                margin-top: 25px;
                a, span {
                    color: #7f7f7f;
                }
                a {
                    font-size: 16px;
                    font-weight: 700;
                    margin-left: 23px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                span {
                    background-color: #e5e5e5;
                    font-size: 11px;
                    line-height: 2.7;
                    text-align: center;
                    margin-left: 10px;
                    position: relative;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    &:before {
                        content: '';
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-right: 5px solid #e5e5e5;
                        position: absolute;
                        top: 50%;
                        left: -5px;
                        @include css-translate(0, -50%);
                    }
                }
            }
        }
    }
    aside {
        .subscribe, .article-excerpt {
            position: relative;
            margin-bottom: 14px;
            a {
                padding: 23px 20px;
                display: block;
            }
            h2 {
                font-size: 15px;
                font-weight: 700;
                color: #fff;
                width: 80%;
            }
            p {
                font-size: 11px;
                color: #fff;
                margin: 0;
                width: 80%;
            }
        }
        .subscribe {
            background-color: #dfbb60;
        }
        .article-excerpt {
            a {
                position: absolute;
                top: 50%;
                @include css-translate(0, -50%);
            }
        }
    }
}