footer
    ul.social-icons
        li
            a(title="facebook" class="icon-facebook" href="https://www.facebook.com/Equinox")
        li
            a(title="twitter" class="icon-twitter" href="https://twitter.com/Equinox")
        li
            a(title="instagram" class="icon-instagram" href="http://instagram.com/equinox")
        li
            a(title="youtube" class="icon-youtube" href="http://www.youtube.com/user/equinox")

    hr
    ul.footer-links
        li
            a(href="/ContactUs") Contact Us
        li
            a(href="/Privacy") Privacy Policy
        li
            a(href="/Terms") Terms And Conditions

    a(href="/?forceDevice=desktop" class="goto-fullsite") See Full Site