$club-padding: 5%;

.page.club-detail {
    .rich-content {
        header {
            h2 {
                small.firts-line {
                    text-transform: lowercase;
                }
            }
        }
    }

    .columns-layout {
        ul {
            .big-circle-column {
                margin-bottom: 36px;
            }
        }
    }
}

.club-location {
    @include pie-clearfix;
    border: 1px solid black;
    border-left: none;
    border-right: none;

    .club-detail {
        .club {
            padding: $club-padding;

            text-align: center;

            p, h1 {
                margin: 4px 0;
            }

            p {
                font-size: 12px;
                letter-spacing: 1px;
            }

            h1 {
                font-size: 30px;
                font-weight: normal;
            }

            hr {
                max-width: 40px;
                border-bottom: 0;
                border-color: #000;
                margin: 20px auto;
            }

            a {
                text-decoration: underline;
            }
        }

        .club-hours {
            padding: 0 $club-padding;

            margin: 30px 0;

            hr {
                max-width: 40px;
                border-bottom: 0;
                border-color: #000;
                margin: 30px auto;
            }

            .period {
                margin: 16px 0;
                @include pie-clearfix;

                span {
                    font-size: 14px;
                    display: block;
                    text-align: center;
                    &.day-name {
                        text-transform: uppercase;
                    }
                }

            }
            .box.button {
                max-width: 55%;
                margin: 30px auto;
            }
        }
    }

    .map-container {
        background: #000;

        .custom-marker {
            width: 300px;

            &.active {
                margin: -100px 0 0;
            }

            h5 {
                font-size: 20px;
            }
        }
    }
}