/* Share Module */
section.social-share {
    .title {
        margin-top: 0;
    }
    p strong {
        text-transform: uppercase;
    }
}

.main-social-icons {
    text-align: center;
    margin-bottom: 45px;

    li {
        @include inline-block;
        margin: 0 4px;

        a {
            display: block;
            width: 82px;
            height: 82px;
            line-height: 81px;
            @include border-radius(55px);
            border: 1px solid #fff;
            font-size: 1.2em;
            text-align: center;
            text-decoration: none;
            color: #fff;

            @include transition(background 0.3s, color 0.3s);

            &:hover {
                background: rgba(255,255,255,0.4);
                color: #fff;
            }
        }
    }
    &.black {
        li {
            a {
                border: 1px solid #080808;
                color: #080808;

                &:hover {
                    background: rgba(0,0,0,0.4);
                    color: #080808;
                }
            }
        }
    }
}

// White - Black on .image landing pages.
.page.image {
    .main-social-icons {
        li {
            a {
                border: 1px solid #080808;
                color: #080808;

                &:hover {
                    background: rgba(0,0,0,0.4);
                    color: #080808;
                }
            }
        }
    }
}