@import 'fonts/_icomoon';
@import 'fonts/_graphik';

//VideoJS
@font-face{
  font-family: 'VideoJS';
  src: url('../fonts/vjs.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vjs.woff') format('woff'),
  url('../fonts/vjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}