extends layout
block content
    div.page
        h1.title #{title}
        h2.title Schedule Appointment App entry points

        section.paragraph
            ul
                li
                    a(href="/personal-training/schedule") Show Calendar
                li
                    a(href="/personal-training/schedule#detail/123") Show Appointment Details
                li
                    a(href="/personal-training/schedule#update/123") Reschedule Appointment
                li
                    a(href="/personal-training/schedule#cancel/123") Cancel Appointmen
                li
                    a(href="/personal-training/schedule#error") Show Error page

block script
    //script(data-main="/apps/core/main" src="/vendor/bower/requirejs/require.js")
