.bar-chart {
	padding-top: 20px;

	.chart {
		margin: 35px auto;

		.bar-container {
			.label {
				bottom: -35px;
				font-size: 11px;
			}
		}
	}
	.description {
		font-size: 11px;
	}
}

.workout-box {
	.bar-chart {
		min-width: 256px;

		.chart {
			height: 175px;

			.label {
				font-size: 10px;
			}
		}

		.description {
			margin-bottom: 0;
		}

		.button-container {
			margin-top: 0;
		}
	}
}