.instagram {
	text-align: center;
	padding: 0 30px;
	@include box-sizing(border-box);

	&.black-bg {
		background: #000;
	}

	.instagram-main-container {
		display: table;
		height: 185px;
		width: 100%;

		.instagram-container {
			display: table-cell;
			vertical-align: middle;
			padding: 0 30px;

			ul {
				margin-bottom: 23px;
				
				li {
					display: inline-block;
					width: 33%;
				}
			}

			.instagram-button-container {
				> span {
					color: #fff;
					font-size: 16px;
					vertical-align: middle;
				}

				a {
					color: #fff;
					span {
						font-size: 11px;
						margin-left: 5px;
						text-transform: uppercase;
						font-weight: 200;
					}
				}
			}
		}
	}
}