.membership-total {
    overflow: hidden;
        .col {
            padding: 50px;
            text-align: center;
            border: 1px solid white;
            border-left: none;
            border-right: none;
        }
        .col + .col {
            border-top: none;
        }

        small {
            display: block;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            margin-bottom: 4px;
            text-transform: uppercase;
        }

        h3 {
            margin-bottom: 20px;
        }

        .cta {
            @include inline-block;
            text-decoration: underline;
            text-transform: uppercase;
            font-size: 13px;
            color: white;
        }

        .club-info {
            display: none;
        }

        .due-total {
            .cta {
                margin-bottom: 40px;
            }
        }

        .total {
            .item-due {
                @include clearfix;
                margin: 2px 0;
            }
            .total-due {
                margin-top: 15px;
            }

            font-size: 13px;
            letter-spacing: 2px;
            span {
                display: block;
                float: left;
                &.price {
                    float: right;
                }
            }
        }

        a.button {
            max-width: 70%;
            margin: 20px auto;
        }

        .location {
            a {
                margin: 0;
            }
        }
}