.search-menu {
	background: #000;
	padding: 25px 0;

	.search-container {
		display: inline-block;
		width: 29.4%;

		.search-field {
			margin: 0;

			fieldset {
				display: block;
				margin: 0 auto;
				width: 176px;

				span {
					color: #fff;
					float: left;
					padding: 20px 0;
				}

				input {
					width: 158px;
					color: #fff;
					float: left;
					font-size: 12px;
					font-style: italic;
					letter-spacing: 3px;
					padding: 17px 0 17px 10px;
					text-align: left;
				}
			}
		}
	}

	ul {
		display: block;
		margin: 0 auto;
		width: 70%;
		height: 16px;

		li {
			float: left;
			width: 33.3%;

			a {
				border-right: 1px solid #313131;
				padding: 0 2px;

				span {
					color: #fff;
					font-size: 9px;
					font-weight: 700;
					letter-spacing: 2px;
					margin-left: 5px;
					text-transform: uppercase;

					&:before {
						font-size: 11px;
					}	

					&:first-child {
						display: inline-block;
					}			
				}
			}
		}
	}
}