.membership-list {
    margin: 0;
    padding: 0;

    .membership-container {
        @include box-sizing(border-box);
        &.closed {
            .membership-tab:after {
                content: "+";
                top: 20%;
            }
            .membership-tier {
                height: auto;
            }
        }
    }

    .membership-tier {
        height: auto;
        padding: 0;
        overflow: hidden;
    
        border-top: 1px solid white;

        .border-wrapper {
            padding-top: 35px;
        }

        .membership-info {
            height: 340px;
            min-height: 340px;

            display: table;
            width: 100%;

            .middle-wrapper {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }

        }

        small, h3, .description {
            max-width: 280px;
            margin: 0 auto;
        }

        small {
            margin-bottom: 20px;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 0.8em;
        }

        .description {
            font-size: 14px;
            line-height: 20px;
            max-width: 80%;
        }

        hr {
            border-top: 1px solid white;
            margin: 32px 0;
        }

        .membership-price {
            font-size: 16px;
            strong {
                font-size: 26px;
                letter-spacing: 2px;
            }
        }

        .total {
            max-height: 100px;
            max-width: 240px;
            margin: 40px auto;
        }

        a.button {
            display: block;
            max-width: 180px;
            padding: 1.5em;
            margin: 40px auto;
        }

    }

    &.col-2, &.col-4 {
        .membership-container {
            float: left;
            width: 50%;
            .border-wrapper {
                border-right: 1px solid white;
            }
        }
        .membership-container + .membership-container {
            .border-wrapper {
                border: none;
            }
        }
    }
    &.col-3 {
        .membership-container {
            float: left;
            width: 33.3%;
            .border-wrapper {
                border-right: 1px solid white;
            }
            &:last-child {
                .border-wrapper {
                    border: none;
                }
            }
        }
    }
    &.col-4 {
        .membership-container:nth-child(odd) {
            .border-wrapper {
                border-right: 1px solid white;
            }
        }
    }
}