.profile {
	.header-container {
		border-top: none;
		padding: 20px 100px;

		h1 {
			font-size: 38px;
			margin-bottom: 0;
		}

		p {
			font-size: 12px;
			margin-bottom: 26px;
		}

		.rounded {
			@include border-radius(80px);
			width: 114px;
			height: 114px;
			margin: 18px auto -69px;
		}
	}

	.module-container {
		padding: 43px 40px 45px;

		&.personal-info {
			padding: 83px 20px 42px;
		}

		h3 {
			font-size: 27px;

			span.suffix {
				top: -5px;
			}
		}

		.half-container {
			display: inline-block;
			margin-right: 15px;
			vertical-align: top;

			.info {
				.empty {
					height: 33px;
				}
			}

			&.editable {
				display: inline-block;
				margin-top: 0;

				label.suffix {
					margin-top: -4px;
				}
			}

			h3 {
				font-size: 24px;
				margin-bottom: 2px;
			}

			span {
				font-size: 10px;
			}

			&.gender {
				width: auto;
				float: none;
				position: static;
				top: auto;
				right: auto;
			}

			&.age {
				float: none;
				width: auto;
			}

			&.weight, &.height {
				width: auto;
				margin: 0 20px 0 0;
			}

			&.weight .input-container input,
			&.height .input-container.metric input {
				width: 85px;
			}
		}

		.input-container {
			display: inline-block;
			margin-top: 0;
			margin-right: 0;
			text-align: left;
			width: 115px;

			input {
				font-size: 24px;
				width: 85px;
				padding: 2px;
			}

			span {
				margin-top: 7px;
				font-size: 10px;
				width: 95%;
				text-align: center;
			}

			&.imperial {
				width: 155px;

				span {
					width: 100%;
				}
			}


			.select-wrapper {
				font-size: 40px;
				margin: 0 20px;

				&.box {
					border: 1px solid #c7c7c7;
					height: 42px;
					vertical-align: top;
					width: 32%;
					margin: 0 1px;
					padding: 2px;
					padding-right: 10px;
					display: inline-block;

					.option {
						width: 100%;
						font-size: 24px;
						font-weight: 200;
						letter-spacing: -1px;
						margin-top: 2px;

						&:after {
							font-size: 12px;
							margin-top: -4px;
							position: absolute;
							right: 3px;
							top: 50%;
							color: #c7c7c7;
						}
					}
				}
			}
		}

		.half-container.age {
			.input-container {
				width: 240px;
			}
		}

		.half-container.gender {
			.input-container {
				font-size: 24px;
				margin-top: 0;
			}
		}

		.underlined-link {
			display: inline-block;
			font-size: 9px;
			margin-top: 13px;
			vertical-align: top;
		}

		.circles-wrapper {
			max-width: none;

			.goals-container {
				display: inline-block;
				width: 85%;

				.circles-container {
					margin-bottom: 0;
					width: 16.5%;

					span {
						font-size: 9px;
						margin-top: 29px;
					}

					.rounded-button {
						.rounded {
							@include border-radius(40px);
							width: 74px;
							height: 74px;

							> span {
								display: block;
								font-size: 22px;
								padding: 27px 0;
								text-align: center;
								margin-top: 0;
							}
						}
					}
				}
			}

			.circles-container {
				width: 13.7%;

				span {
					font-size: 9px;
					margin-top: 29px;
				}
			}
		}

		

		.title-container {
			display: inline-block;
			padding-right: 15px;
			width: 48%;

			h3 {
				font-size: 22px;
				margin: 0;
				text-align: left;
				vertical-align: middle;
			}
		}

		.small-circles-wrapper {
			display: inline-block;
			max-width: none;
			vertical-align: middle;
			width: 48%;

			.rounded-button {
				margin-right: 8px;

				.rounded {
					width: 23px;
					height: 23px;

					&.color-circle {
						span {
							font-size: 15px;
						}
					}
				}
			}

			.small-circle-description {
				width: 73%;

				span {
					font-size: 9px;
				}
			}
		}
	}

	//Atlhete Level Module Styles
	.athlete-level {
		text-align: left;

		.title-container {
			padding-right: 10%;
			width: 45%;
		}

		.range-selection {
			width: 100%;
			.track-wrapper {
				display: inline-block;
				float: right;
				margin: 0 6% 0 0;
				padding: 4px 0;
				position: static;
				width: 40%;

				.track {
					height: 3px;

					.track-shadow {
						.thumb {
							height: 22px;
							top: -5px;
							margin-left: -9px;
							width: 22px;
						}
					}

					.reference {
						height: 11px;
						top: -4px;
						width: 11px;
					}
				}
			}

			.answers {
				display: inline-block;
				padding-right: 10%;
				vertical-align: top;
				width: 40%;

				.paragraph {
					padding: 0;
				}

				h6 {
					font-size: 13px;
					text-align: left;
				}

				p {
					font-size: 12px;
					font-weight: 400;
					color: #7c878e;
					letter-spacing: 1px;
					text-align: left;
					max-width: none;
				}
			}
		}
	}
}