<a href="#" data-date="<%= dataDate %>" class="<%= current %>">
    <p class="is-tablet is-desktop"><%= date %></p>
    <p class="is-mobile"><%= dateShort %></p>
    <small class="is-tablet is-desktop"><%= month %> <%= day %></small>
</a>
<div class="classes-timeline"></div>
