<section class="class-module no-padding-bottom">
    <h3>you're all set.</h3>

    <p>your trainer has been notified of the cancellation</p>

    <nav class="buttons">
        <a href="/personal-training/schedule" class="button black small inline box half-button">Schedule Session</a>
    </nav>
    <p>
        <a href="/calendar" class="underlined-small-link black">see my calendar</a>
    </p>
</section>